<div layout="row" >
  <div class="half">
    <md-card>
    <h3>Users</h3>
    <ul>
      <li *ngFor="let user of users">{{user.user_name}}</li>
    </ul>

    </md-card>
  </div>

</div>
<div layout="row" layout-align="center center" >

  <div flex="70">
    <md-card class="app-input-section">
      <input mdInput class="full"  [(ngModel)]="password" placeholder="Password">
      <input mdInput class="full"  [(ngModel)]="username" placeholder="Username">

      <button md-raised-button color="primary" (click)="createUser(username,password)">Add</button>
    </md-card>
  </div>
</div>
