<md-sidenav-layout layout="column" layout-fill>

  <md-sidenav #sidenav mode="side" layout="column" flex="30" class="app-sidenav">
    <md-card>

      <ul>
        <li flex><a href="default.asp">
          <button md-button>FLAT</button>
        </a></li>
        <li><a href="news.asp">
          <button md-button>FLAT</button>
        </a></li>
        <li><a href="contact.asp">
          <button md-button>FLAT</button>
        </a></li>
        <li><a href="about.asp">
          <button md-button>FLAT</button>
        </a></li>
      </ul>


    </md-card>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons">reorder</i>
    </button>

    Chocolate

    <span class="app-toolbar-filler"></span>

  </md-toolbar>

  <div class="app-content" >

    <div layout="row" layout-sm="column">


      <div layout="column"  flex="30">
        <md-card  class="app-input-section half">

          <md-input placeholder="First name" ></md-input>

          <md-input class="input-full-width" #nickname placeholder="Nickname" >
            <md-hint align="end" >
              {{nickname.characterCount}} / 50
            </md-hint>
          </md-input>
        </md-card>
      </div>
    </div>
  </div>

</md-sidenav-layout>






