<md-sidenav-container layout="column" fullscreen>

  <md-sidenav #sidenav mode="side" layout="column" class="app-sidenav">
    <md-card>

      <ul>
        <li flex><a routerLink="users" routerLinkActive="active">
          <button md-button>FLAT</button>
        </a></li>
        <li flex><a routerLink="users/add" routerLinkActive="active">
          <button md-button>FLAT</button>
        </a></li>
      </ul>

    </md-card>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons">reorder</i>
    </button>

    Token Auth

    <span class="app-toolbar-filler"></span>

  </md-toolbar>

  <div class="app-content" layout="column">
    <router-outlet></router-outlet>

  </div>

</md-sidenav-container>






