<div layout="row" fxLayoutAlign="center center">

  <md-card class="margin-all">
    <md-card-content>
      <md-input-container class="full">
        <input mdInput class="full" [(ngModel)]="username" placeholder="Username">
      </md-input-container>
      <md-input-container class="full">
        <input mdInput class="full" [(ngModel)]="password" placeholder="Password">
      </md-input-container>

      <button md-button color="primary" (click)="login(username,password)">Login</button>
    </md-card-content>
  </md-card>
</div>
